// Partials
@use './partials/reset';
@use './partials/variables';
@use './partials/fonts';

.view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
}