<!DOCTYPE html>
<html lang="en">
	{% include 'head.njk' %}

	<body>
        <div class="view"></div>

        <script defer type="module">
            const src = "/bundle/main.js";
            import(src).then(module => {});
        </script>
	</body>
</html>